<h1>編集画面</h1>
<%= form_with model:@customer, url:customers_path, local: true do |f| %>
  <%= f.text_field :last_name %></br>
  <%= f.text_field :first_name %></br>
  <%= f.text_field :last_name_kana %></br>
  <%= f.text_field :first_name_kana %></br>
  <%= f.text_field :postal_code %></br>
  <%= f.text_field :address %></br>
  <%= f.text_field :phone_number %></br>
  <%= f.text_field :email %></br>
  <%= f.submit '編集内容を保存' %></br>
  <%= link_to '退会する',customers_unsubscribe_path %>
<% end %>
