<p>マイページ</p>
<p>登録情報</p>
<div>
    <p><%= @customer.last_name %>　<%= @customer.first_name %></p>
    <p><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></p>
    <p><%= @customer.postal_code %></p>
    <p><%= @customer.address %></p>
    <p><%= @customer.phone_number %></p>
    <p><%= @customer.email %></p>


</div>
