<h1>会員側　商品一覧画面<span>全<%= @products.count %>件</span></h1>
<% @products.each do |product| %>
 <%= link_to product_path(product.id) do %>
   <%= attachment_image_tag(product, :image, size: "200x150", fallback: "no_image") %>
 <% end %>
<p><%= product.name %></p>
<p>¥<%= product.price.to_s(:delimited) %></p>
<% end %>
