<div class="row">
  <div class="col-md-11 ml-auto my-4">
    <h4 class="ml-10">商品一覧</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
  			<% @products.each do |product| %>
    		<tr>
           <td>
             <%= product.id %>
           </td>
           <td>
            <%= link_to manager_product_path(product) do %>
              <%= product.name %>
            <% end %>
            </td>
            <td>
              <%= product.price.to_s(:delimited) %>
            </td>
            <td>
              <%= product.genre.name %>
            </td>
            <td>
              <% if product.is_active == true %>
               <p class="text-success">販売中</p>
              <% elsif product.is_active == false %>
               <p class="text-secondary">販売停止中</p>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <div><%= paginate(@products) %></div>
    </div>
  </div>
</div>