<div class="container px-5 py-5">
  <div class="row mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h4>商品新規登録</h4></div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="container">
  <div class="col-md-9 mx-auto">
    <%= form_with model:@product,url:manager_products_path,local:true do |f| %>
     <div class="form-group">
        <div class="row">
          <%= f.label :image,"商品画像", class: "col-md-3" %>
          <%= f.attachment_field :image, class: "col-md-6" %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <%= f.label :name,"商品名",class: "col-md-3" %>
          <%= f.text_field :name,:placeholder => "商品名",class: "col-md-6 form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <%= f.label :introduction,"商品説明" ,class: "col-md-3" %>
          <%= f.text_area :introduction, :placeholder => "ここに説明を記述します", rows:'5',class: "col-md-6 form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <%= f.label :genre_id, "ジャンル" ,class: "col-md-3" %>
          <%= f.select(:genre_id, Genre.all.map {|genre|[genre.name, genre.id] }, {prompt: "--  選択してください --"},class: "col-md-6 form-control") %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <%= f.label :price,"税抜価格" ,class: "col-md-3" %>
        <div class="col-md-6 d-flex flex-row pl-0">
          <%= f.text_field :price, :placeholder => "1000",class: "form-control" %><span class="pt-2 pl-2">円</span>
        </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <%= f.label :is_active,"販売ステータス",class: "col-md-3" %>
          <div class="align-middle">
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中", value: true,class: "mr-5 d-inline-block"%>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "販売停止中", value: false,class: "d-inline-block" %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "新規登録", class: "btn btn-lg btn-success "%>
      </div>
    <% end %>
  </div>
</div>

