<div class="container px-5 py-5">
  <div class="row mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h4>商品詳細</h4></div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="img_field">
          <%= attachment_image_tag(@product, :image, size:"300x250", fallback:"no_image.jpg") %>
       </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <p>商品名</p>
        </div>
        <div class="col-md-5">
          <%= @product.name %>
        </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p>商品説明</p>
          </div>
          <div class="col-md-5">
            <%= @product.introduction %>
           </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p>ジャンル</p>
          </div>
          <div class="col-md-5">
            <%= @product.genre.name %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p>税込価格<br>(税抜価格)</p>
          </div>
          <div class="col-md-5">
            <!--tax_priceはhelperで提議　(:delimited) は数字を3桁区切り-->
            <%= tax_price(@product.price).to_s(:delimited) %> (<%= @product.price.to_s(:delimited) %>)
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p>販売ステータス</p>
          </div>
          <div class="col-md-5">
            <% if @product.is_active == true %>
              <span class="text-success">販売中</span>
            <% elsif @product.is_active == false %>
              <span class="text-secondary">販売停止中</span>
            <% end %>
          </div>
       </div>
     </div>
  </div>
  <div class="row">
      <div class="col-md-8 text-center mt-4">
     <%= link_to '編集する', edit_manager_product_path(@product), class:"btn btn-success" %>
     </div>
  </div>
</div>
