<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 my-5">
      <h4>管理者ログイン</h4>
    </div>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com",style:"width:90%" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password",style:"width:90%" %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "　　ログイン　　",class:"btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
     </div>
    <div class="col-md-3"></div>
    <% end %>
    </div>
</div>