<div class="container px-5 py-5">
  <div class="row mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h4>ショッピングカート</h4>
      <div class="text-right">
        <% if @cart_items.present? %>
           <%= link_to 'カートを空にする',  cart_items_destroy_all_path, method: :delete, class:'btn btn-danger' %>
        <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="container">
<table class="table table-hover table-bordered table-condensed">
  <thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
    <td>
      <%= attachment_image_tag(cart_item.product, :image, size:"50x40", fallback:"no_image") %>
      <%= cart_item.product.name %>
    </td>
    <td>
      <%= tax_price(cart_item.product.price).to_s(:delimited) %>
    </td>
    <td>
      <%= form_with model:cart_item, url:cart_item_path(cart_item), method: :patch, local:true do |f| %>
        <%= f.number_field :quantity, size:10, min:1 %>
        <%= f.submit '変更', class:'btn btn-success' %>
      <% end %>
    </td>
    <td>
      <!--application_helperで定義-->
      <%= sub_price(cart_item).to_s(:delimited) %>
    </td>
    <td>
     <%= link_to '削除する', cart_item_path(cart_item), method: :delete, class:'btn btn-danger' %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <td><%= link_to '買い物を続ける', products_path, class:'btn btn-primary' %></td>
      <td class="text-right">合計金額</td>
      <!--application_helperで定義-->
      <td class="text-right"><%= total_price(@cart_items).to_s(:delimited) %></td>
    </tr>
  </thead>
</table>

<div class="text-center">
  <%= link_to '情報入力に進む', new_order_path, class:'btn btn-success' %>
</div>