<div class="container">
  <div class="row">
    <div class="col-md-8 my-5">
      <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
    </div>
  </div>
  <%= form_with model:@customer,url:manager_customer_path, local:true do |f| %>
  <div class="row">
  <div class="col-md-10">
      <table class="table table-borderless">
        <tbody>
         <tr>
          <td width="20%">会員ID</td>
          <td width="20%"><%= @customer.id %></td>
          <td width="60%"></td>
         </tr>
         <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name, autofocus: true %></td>
          <td><%= f.text_field :first_name, autofocus: true %></td>
         </tr>
         <tr>
           <td>フリガナ</td>
           <td><%= f.text_field :last_name_kana, autofocus: true %></td>
           <td><%= f.text_field :first_name_kana, autofocus: true %></td>
         </tr>
         <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code, autofocus: true %></td>
          <td></td>
         </tr>
         <tr>
          <td>住所</td>
          <td colspan="2"><%= f.text_field :address, autofocus: true,style:"width:80%" %></td>
          <td></td>
         </tr>
         <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number, autofocus: true %></td>
          <td></td>
         </tr>
         <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, autofocus: true %></td>
          <td></td>
         </tr>
         <tr>
          <td>会員ステータス</td>
          <td><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", value: false %> <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会", value: true %></td>
          <td></td>
         </tr>
         <tr>
          <td></td>
          <td><%= f.submit "　変更を保存　",class:"btn btn-success btn-lg" %></td>
          <td></td>
         </tr>
        </tbody>
      </table>
     </div>
    </div>
    <% end %>
  </div>