<h2>User info</h2>
<%= form_with model:@customer,url:manager_customer_path, local:true do |f| %>
  <label for="inputName">氏名</label>
  <%= f.text_field :last_name, autofocus: true %> <%= f.text_field :first_name, autofocus: true %>
  <label for="inputNameKana">フリガナ</label>
  <%= f.text_field :last_name_kana, autofocus: true %> <%= f.text_field :first_name_kana, autofocus: true %>
  <label for="inputPostalCode">郵便番号</label>
  <%= f.number_field :postal_code, autofocus: true %>
  <label for="inputAdress">住所</label>
  <%= f.text_field :address, autofocus: true %>
  <label for="inputPhoneNumber">電話番号</label>
  <%= f.number_field :phone_number, autofocus: true %>
  <label for="inputEmail">メールアドレス</label>
  <%= f.text_field :email, autofocus: true %>
  <label for="inputStatus">会員ステータス</label>
  <!--%= f.select :order_status, Order.orders_status_i18n.invert, {prompt: false}  %-->
  <%= f.submit "変更を保存" %>
<% end %>