<main>
    <div class="col-md-8 offset-md-1">
      <div class="py-4">
        <h3>会員一覧</h3>
      </div>
    <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customer.each do |customer| %>
      <tr>
        <td>
          <%= customer.id %>
        </td>
        <td>
          <%= link_to manager_customer_path(customer.id) do %>
            <%= customer.first_name %> <%= customer.last_name %>
          <% end %>
        </td>
        <td>
          <%= customer.email %>
        </td>
        <td>
          <% if customer.is_deleted == true %>
            <p class="text-secondary">退会</p>
          <% elsif customer.is_deleted == false %>
            <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= paginate @customer %>
  </tbody>
  </table>
    </div>
  </div>
</div>
</main>
