<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2><%= @customer.name %>さんの会員詳細</h2>
  <tbody>
　<tr>
　    <th>会員ID</th>
　    <th><%= @customer.name %></th>
　</tr>
  <tr>
	  <th>氏名</th>
	  <th><%= @customer.name %></th>
  </tr>
  <tr>
	  <th>フリガナ</th>
	  <th><%= @customer.introduction %></th>
  </tr>
  <tr>
    <th>郵便番号</th>
    <th><% @user.follower.count %></th>
  </tr>
  <tr>
    <th>住所</th>
    <th><% @customer.followed.count %></th>
  </tr>
  <tr>
    <th>電話番号</th>
    <th><% @customer.followed.count %></th>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <th><% @customer.followed.count %></th>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <th><% @customer.followed.count %></th>
  </tr>
  <div>
      <% if current_customer.id == @customer.id %>
        <%= link_to "編集する", edit_manager_customer_path(@customer.id), class: 'btn btn-default' %>
　    <% end %>
　    <% if current_customer.id == @customer.id %>
        <%= link_to "注文一覧を見る", manager_customers_path(@customer.id), class: 'btn btn-default' %>
　    <% end %>
  </div>
</tbody>