<div class="container">
  <div class="row">
    <div class="col-md-8 my-5">
      <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>
    </div>
  </div>
  <div class="row">
  <div class="col-md-10">
      <table class="table table-borderless">
        <tbody>
         <tr>
          <td width="20%">会員ID</td>
          <td width="30%"><%= @customer.id %></td>
          <td width="50%"></td>
         </tr>
         <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
          <td></td>
         </tr>
         <tr>
           <td>フリガナ</td>
           <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
           <td></td>
         </tr>
         <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
          <td></td>
         </tr>
         <tr>
          <td>住所</td>
          <td colspan="2"><%= @customer.address %></td>
          <td></td>
         </tr>
         <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
          <td></td>
         </tr>
         <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
          <td></td>
         </tr>
         <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_deleted == true %>
            <p class="text-secondary">退会</p>
            <% elsif @customer.is_deleted == false %>
            <p class="text-success">有効</p>
            <% end %>
          </td>
          <td></td>
         </tr>
         <tr>
          <td></td>
          <td><%= link_to "　編集する　", edit_manager_customer_path(@customer.id), class: 'btn btn-success' %></td>
          <td><%= link_to "　注文履歴一覧を見る　", manager_homes_path, class: 'btn btn-primary' %></td>
         </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>