<div class="container px-5 py-5">
  <h5>注文情報確認</h5>
  <div class="row mt-3">
    <div class="col-md-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>商品画像+商品名</td>
            <td>1,000</td>
            <td>2</td>
            <td>2,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 offset-md-1">
      <table class="table table-bordered">
        <tr>
          <th>送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td>2,000</td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td>2,800</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">支払い方法</div>
    <div class="col-md-10"><%= @order.payment_method_i18n %></div>
  </div>

  <div class="row">
    <div class="col-md-2">お届け先</div>
    <div class="col-md-10">
      <p><%= @order.postal_code %><%= @order.address %></p>
      <p><%= @order.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
    <%= form_with model:@order,url: orders_path,method: :post, local:true do |f|%>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :total_payment %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :postage %>
      <%= f.hidden_field :status %>
      <%= f.submit "注文を確定する",class:"btn btn-success" %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>