<%= form_with model:@order,url: orders_confirmation_path,method: :post, local:true do |f|%>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-9"><h5>注文情報入力</h5></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pb-3">
    <div class="col-md-1"></div>
    <div class="col-md-11">支払い方法
      <div class="radio ml-4">
         <%= f.radio_button :payment_method, :credit_card %>
         <%= f.label :payment_method_credit_card,"クレジットカード" %><br>
         <%= f.radio_button :payment_method, :bank_transfer %>
         <%= f.label :payment_method_bank_transfer,"銀行振込" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">お届け先
      <div class="radio ml-4">
        <%= radio_button_tag :address,"1" %>
        <%= f.label :address, "ご自身の住所" %>
      </div>
      <p class="ml-5">
        〒<%= current_customer.postal_code %>
        <%= current_customer.address %>
      </p>
      <p class="ml-5">
        <%= current_customer.last_name %>
        <%= current_customer.first_name %>
      </p>
      <div class="radio ml-4">
        <%= radio_button_tag :address,"2"%>
        <%= f.label :address, "登録済み住所から選択" %>
      </div>
      <div>
        <%= f.collection_select(:addressees_id, @addressee, :id, :addressee_all) %>
      </div>
      <div class="radio ml-4">
        <%= radio_button_tag :address,"3"%>
        <%= f.label :address, "新しいお届け先" %>
      </div>
        <%= f.label :postal_code,"郵便番号(ハイフンなし)" %>
        <%= f.text_field :postal_code %><br>
        <%= f.label :address,"住所" %>
        <%= f.text_field :address %><br>
        <%= f.label :name,"宛名" %>
        <%= f.text_field :name %>
      <%= f.submit "確認画面へ進む",class:"btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <div class="form-group">
      </div>
    </div>
  </div>
</div>
<% end %>
