<%= form_with model:@order,url: orders_confirmation_path,method: :post, local:true do |f|%>
<div class="container-fruid">
  <div class="row">
    <div class="col-md-12" style="height: 50px;"></div>
  </div>
  <div class="row pb-5">
    <div class="col-md-2"></div>
    <div class="col-md-10"><h4>注文情報入力</h4></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <h5>支払方法</h5>
      　　　<%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method_credit_card,"クレジットカード" %><br>
      　　　<%= f.radio_button :payment_method, :bank_transfer %>
      <%= f.label :payment_method_bank_transfer,"銀行振込" %>
      <h5>お届け先</h5>
      　　　<%= radio_button_tag :address,"1" %><%= f.label :address, "ご自身の住所" %></br>
      　　　　　〒<%= current_customer.postal_code%> <%= current_customer.address %></br>
      　　　　　<%= current_customer.last_name %> <%= current_customer.first_name %></br>
      　　　<%= radio_button_tag :address,"2"%><%= f.label :address, "登録済住所から選択" %></br>
      　　　　　<%= f.collection_select(:addressees_id, @addressee, :id, :addressee_all,{prompt: "--  選択してください --"}) %></br>
      　　　<%= radio_button_tag :address,"3"%><%= f.label :address, "新しいお届け先" %>
    </div>
    <div class="col-md-2"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td width="30%">　　　　郵便番号（ハイフンなし）</td>
              <td width="30%"><%= f.text_field :postal_code, placeholder:"0000000" %></td>
              <td width="60%"></td>
            </tr>
            <tr>
              <td>　　　　住所</td>
              <td colspan="2"><%= f.text_field :address,style:"width:80%", placeholder:"東京都渋谷区代々木神園町0-0" %></td>
              <td></td>
            </tr>
            <tr>
              <td>　　　　宛名</td>
              <td><%= f.text_field :name, placeholder:"令和道子" %></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><%= f.submit "　確認画面へ進む　",class:"btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
</div>
<% end %>