<div class="container">
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-9"><h5>注文情報入力</h5></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pb-3">
    <div class="col-md-1"></div>
    <div class="col-md-11">支払い方法
      <div class="radio ml-4">
        <%= form_with model:@order,url:orders_path,method: :post, local:true do |f|%>
         <%= f.radio_button :payment_method, :credit_card %>
         <%= f.label :payment_method_credit_card,"クレジットカード" %><br>
         <%= f.radio_button :payment_method, :bank_transfer %>
         <%= f.label :payment_method_bank_transfer,"銀行振込" %>
         <%= f.submit "確認画面へ進む",class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">お届け先
      <div class="radio ml-4">
        <%= f.radio_button :addressee,"1"%>
        <%=f.label :addressee, "ご自身の住所",value: 1 %>
      </div>
      <p class="ml-5">
        〒<%= current_customer.postal_code %>
        <%= current_customer.address %>
      </p>
      <p class="ml-5">
        <%= current_customer.last_name %>
        <%= current_customer.first_name %>
      </p>
      <div class="radio ml-4">
        <%= f.radio_button :addressee,"2"%>
        <%=f.label :addressee, "登録済み住所から選択",value: 2 %>
      </div>
        <select class="form-control ml-5" id="sel1">
          <% @addressees.each do |addressee| %>
          <option>
            <%= addressee.postal_code %>
            <%= addressee.address %>
            <%= addressee.name %>
          </option>
          <% end %>
        </select>
      <div class="radio ml-4">
        <%= f.radio_button :addressee,"3"%>
        <%=f.label :addressee, "新しいお届け先",value: 3 %>
      </div>
      <form class="form-horizontal ml-5">
        <div class="form-group form-inline">
          <%= f.label :postal_code,"郵便番号(ハイフンなし)" %>
          <%= f.text_field :postal_code %>
        </div>
        <div class="form-group form-group-lg form-inline">
          <%= f.label :address,"住所" %>
          <%= f.text_field :address %>
        </div>
        <div class="form-group form-inline">
          <%= f.label :name,"宛名" %>
          <%= f.text_field :name %>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <div class="form-group">
      </div>
    </div>
  </div>
</div>