<div class="container px-5 py-5">
  <div class="row mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h5>注文履歴詳細</h5></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-8">注文情報
      <table class="table table-bordered mt-3">
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
             〒<%= @order.postal_code%><br>
              <%= @order.address%><br>
              <%= @order.name%>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">請求情報
      <table class="table table-bordered mt-3">
        <tr>
          <th>商品合計</th>
          <td><!--%= total_price(@order_details).to_s(:delimited) %--></td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">注文内容
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>商品名を持ってくる</td>
            <td>00000</td>
            <td>00000</td>
            <td>00000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>